// body var
$bFont: 'Roboto',
sans-serif;
$titleFont: 'Roboto',
sans-serif;
$bfSize: 16px;
$bLineHeight: 26px;
$fontWeight: 400;
$transition: all .5s linear;
//colors variables;
$primary-color: #79a13c;
$bfColor: #707070;
$white: #fff;
$black: #000;
$bgOne: #2F2F2F;
$bgTwo: #242424;
$title-color:#1d1515;